.footer-container_section{
  min-height: 134px;
  border-top: 1px solid #3e4b51;
}
.inner-footer{
  margin-top: auto;
}
.inner-footer__container{
  padding: 44px 0;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.footer__item{
  display: flex;
  align-items: center;
}
.footer__item_align_right{
  align-items: flex-end;
}
.footer__item:nth-child(2){
  justify-content: flex-end;
}
.footer__menu{
  margin-left: 65px;
}
.footer__networks{
  margin-right: 74px;
}
.contacts__text {
  font-size: 11px;
  text-decoration: none;
  color: #8c8c8d;
}