.networks{
  display: flex;
}
.networks__item {
  text-decoration: none;
  width: 36px;
  height: 36px;
  position: relative;
}
.networks__item:hover::after {
  background: url(/air-asia/images/icons/socials/sprites.png);
}


.networks__item::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  /* transition: .3s; */
}
.networks__item::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  transition: .3s;
  opacity: 0;
}
.networks__link{
  margin-right: 9px;
}
.networks__link:last-child {
  margin-right: 0;
}
.networks__item:hover::before {
  opacity: 1;
}
.networks__item_telegram::after   {
  background: url(/air-asia/images/icons/socials/sprites.png) -66px -10px;
}
.networks__item_telegram:hover::after {
  background: url(/air-asia/images/icons/socials/sprites.png) -10px -66px;
}
.networks__item_vkontakte::after {
  background: url(/air-asia/images/icons/socials/sprites.png) -10px -122px;
}
.networks__item_vkontakte:hover::after {
  background: url(/air-asia/images/icons/socials/sprites.png) -66px -122px;
}
.networks__item_facebook::after{
  background: url(/air-asia/images/icons/socials/sprites.png) -122px -66px;
}
.networks__item_facebook:hover::after {
  background: url(/air-asia/images/icons/socials/sprites.png) -122px -10px;
}
.networks__item_instagram::after{
  background: url(/air-asia/images/icons/socials/sprites.png) -10px -10px;
}
.networks__item_instagram:hover::after {
  background: url(/air-asia/images/icons/socials/sprites.png) -66px -66px;
}